In [1]:
(3 + 4) * 6

42

In [2]:
(7 + 6) *3

39

In [3]:
def tambah_trus_dikali (a, b, c):
    "ini adalah fungsi tambah trus dikali"
    hasil = (a + b) * c
    return hasil

In [4]:
tambah_trus_dikali (3, 4, 6)

42

In [5]:
tambah_trus_dikali (7, 6, 3)

39

In [14]:
def pangkat_3 (a):
    "pemangkatan angka 3"
    hasil = a * a * a
    return hasil

In [15]:
pangkat_3 (4)

64

In [9]:
txt = "jakarta"
x = txt. upper()
print(x)

JAKARTA

In [16]:
def pangkat_tiga(a):
    "ini adalah untuk menghitung nilai pangkat tiga"
    hasil = a ** 3
    return hasil

In [17]:
pangkat_tiga(4)

64

In [23]:
def mengubah_menjadi_uppercase (a):
    "mengubah huruf menjadi huruf kapital semua"
    hasil = a. upper()
    return hasil

In [19]:
mengubah_menjadi_uppercase (jakarta)

NameError: name 'jakarta' is not defined

In [24]:
mengubah_menjadi_uppercase ('jakarta')

'JAKARTA'

In [25]:
def print_halo_jakarta ():
    print ("Halo Jakarta")

In [26]:
print_halo_jakarta()

Halo Jakarta

In [27]:
a = 3
def haha(b):
    a = 5
    return b
hasil = haha(3)
print (hasil)
print (a)

3
3

In [29]:
b = 3
def hihi ():
    global b
    b = 5
hihi()
b

5

In [30]:
himpunan = [1, 2, 3, 4]
    def ubah_himpunan (a):
        a. append(5)
ubah_himpunan(himpunan)
ubah_himpunan(himpunan)

himpunan

IndentationError: unexpected indent (<ipython-input-30-ba3a5f0a6b0f>, line 2)

In [31]:
def printme (str):
    print(str)
    return;

printme ("i'm first call to user defined function!")
printme ("Again second call to same function")

i'm first call to user defined function!
Again second call to same function

In [32]:
def fungsi_banyak_argumen (a, b, c, d, e, f):
    print(e)
    return a + b + c + d + f

In [33]:
fungsi_banyak_argumen (2, 3, 4, 5, "halo", 6)

halo

20

In [46]:
def konversi_mil_ke_km (a):
    km = a * 1.6
    return km

In [47]:
konversi_mil_ke_km (2)

3.2

In [49]:
def konversi_km_ke_mil_ori (km):
    return km / 1.6

In [50]:
konversi_km_ke_mil_ori (km=3)

1.875

In [51]:
def haha(a, b, *, c, d):
    return a + b + c + d

In [52]:
haha (1, 3, d=3, c=4)

11

In [53]:
haha (1,3,4,3)

TypeError: haha() takes 2 positional arguments but 4 were given

In [54]:
haha (a=1, b=2, c=3, d=3)

9

In [59]:
def huhu (a, b, c, *, d=2, e=3, f=4, g=5, h=6):
    return huhu

In [81]:
def halo (kota=" jakarta"):
    halo = "halo" + kota
    return halo

In [78]:
halo(kota=" Semarang")

'halo Semarang'

In [82]:
halo()

'halo jakarta'

In [86]:
def tambah_angka_fleksibel (*angka):
    print(angka)
tambah_angka_fleksibel(1)

(1,)

In [87]:
tambah_angka_fleksibel (1,3,3,4,5,8,9,1)

(1, 3, 3, 4, 5, 8, 9, 1)

In [88]:
def tambah_angka (*angka):
    hasil = 0
    for a in angka:
        hasil += a
    return hasil
tambah_angka (3,3,3,4,4,4)

21

In [89]:
tambah_angka (2,3)

5

In [92]:
def selamat (*nama):
    print (nama)
    selamat = "selamat pagi " + selamat